// :root {}

$fontfamily: "";

@font-face {
   font-family: "";
   src: url("../fonts/..") format("...");
   // font-weight: ;
   // font-style: ;
}

// h1 {}

// h2 {}

//
// h3 {}

//
// h4 {}

//
// h5 {}

//
// h6 {}

// @include resp-font(xxem, xxem);

/*FONTS CSS end*/